/*HEADER*/
nav{
  margin-bottom: 1rem;
}
nav .navbar-brand{
  max-width: 125px;
}
nav .input-group{
  width: 100% !important;
  justify-content: center;
}
nav .form-control{
  max-width: 450px;
}
nav .categories .dropdown-item{
  cursor: pointer;
  padding: .20rem 0rem;
}
.sublevel{
  color: gray;
}
.sublevel-1{
  font-weight: bold;
  margin-left: 0 !important;
}
nav .finalLevel{
  color: black;
}
.dropdown-menu-right{
  right: 0;
  left: unset;
}
.cardCant{
  background: red;
  padding: 1px 7px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  float: right;
  font-style: inherit;
}

/*product*/

.content-product{
  background: #007bff;
  position: relative;
  padding: 1.5rem 0.5rem;
  color: lightgray;
  font-weight: 600;
  border-radius: 10px;
}
.product{
  padding: 0.25rem;
  margin-bottom: 1rem
}
.content-product .fa-circle{
  color: limegreen;
  position: absolute;
  right: 10px;
  top: 5px;
}
.content-product h3 {
  font-weight: bold;
  color: darkslategray;
}

/* categories */

.categoriesComponent{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categoriesComponent > .sublevel {
  width: 100%;
  min-width: 250px;
  text-align: center;
  margin-bottom: .5rem;
}
@media (min-width: 530px)  {
  .categoriesComponent > .sublevel {
    max-width: 25%;
  }
}
.categoriesComponent .finalLevel  {
  cursor: pointer;
  color: black;
}
