/*HEADER*/
nav{
  margin-bottom: 1rem;
}
nav .input-group{
  width: 100% !important;
  justify-content: center;
}
nav .form-control{
  max-width: 450px;
}
nav .categories .dropdown-item{
  cursor: pointer;
  padding: .20rem 0rem;
}
.sublevel{
  color: gray;
}
.sublevel-1{
  font-weight: bold;
  margin-left: 0 !important;
}
nav .finalLevel{
  color: black;
}
nav .navbar-brand{
  max-width: 100px;
}
nav .menuHeader{
  max-width: 55px;
  margin-left: 1rem;
}

@media (max-width: 500px) {
  nav .menuHeader{
    max-width: none;
    order: 1;
    justify-content: flex-end;
    margin-bottom: .5rem;
  }
  nav .navbar-brand{
    max-width: none;
  }
  nav > .categories{
    cursor: pointer;
    order: 12;
  }
}

.dropdown-menu-right{
  right: 0;
  left: unset;
}
.cardCant{
  background: red;
  padding: 1px 7px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  float: right;
  font-style: inherit;
}

/*product*/

.content-product{
  background: #007bff;
  position: relative;
  padding: 1.5rem 0.5rem;
  color: lightgray;
  font-weight: 600;
  border-radius: 10px;
}
.product{
  padding: 0.25rem;
  margin-bottom: 1rem
}
.content-product .fa-circle{
  color: limegreen;
  position: absolute;
  right: 10px;
  top: 25px;
}
.content-product h3 {
  font-weight: bold;
  color: darkslategray;
}

/* categories */

.categoriesComponent{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categoriesComponent > .sublevel {
  width: 100%;
  min-width: 250px;
  text-align: center;
  margin-bottom: .5rem;
}
@media (min-width: 530px)  {
  .categoriesComponent > .sublevel {
    max-width: 25%;
  }
}
.categoriesComponent .finalLevel  {
  cursor: pointer;
  color: black;
}

/* Cart */
.cart-product {
    max-width: 1000px;
    margin: auto;
}
.cart-product .content-product {
  background: white;
  border-bottom: 1px solid gray;
  border-width: 1px 0;
  border-radius: 0;
  margin-bottom: 1rem;
}
.cart-product img{
  max-width: 120px;
}
.cart-product button {
  margin-right: 1rem;
}
.content-cart > .text-right{
  max-width: 1000px;
  padding: 0.5rem 0.5rem;
  margin: auto;
}
.content-cart > .text-right button{
  margin-right: 1rem;
}
