nav .navbar-brand{
  max-width: 125px;
}
nav .input-group{
  width: 100% !important;
  justify-content: center;
}
nav .form-control{
  max-width: 450px;
}
nav .dropdown-item{
  cursor: pointer;
  padding: .20rem 0rem;
}
nav .sublevel{
  color: gray;
}
nav .sublevel-1{
  font-weight: bold;
  margin-left: 0 !important;
}
nav .finalLevel{
  color: black;
}
